name = "fuzhou-fishery-expo"
main = "./_worker.js"
compatibility_date = "2026-03-20"

[triggers]
crons = ["*/15 * * * *"]

[assets]
directory = "./public"
binding = "ASSETS"
run_worker_first = ["/api/*"]

[[d1_databases]]
binding = "DB"
database_name = "REPLACE_WITH_YOUR_D1_DATABASE_NAME"
database_id = "REPLACE_WITH_YOUR_D1_DATABASE_ID"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "REPLACE_WITH_YOUR_R2_BUCKET_NAME"
